name: Upload Python Package to testPyPi

on:
  push:
    branches: 
    - develop

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        ref: develop
        token: ${{ github.token }}
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        python -m pip install --upgrade pip
        pip install build
        pip install bumpver
        pip install mkdocs
        pip install mkdocstrings[python]>=0.18
        pip install mkdocs-gen-files
        pip install mkdocs-material
        pip install mkdocs-literate-nav
        pip install Pygments>=2.12

    - name: Update patch version
      run: |
        git checkout
        cd docs
        python3 generate_reference_docs.py
        cd ..
        bumpver update --patch --dry
        bumpver update --patch
    - name: Build package
      run: python -m build
    - name: Publish package to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        repository_url: https://test.pypi.org/legacy/

    # - name: Build documentation
    #   run: |
    #     cd docs
    #     python3 generate_reference_docs.py


    # - name: Update github-pages
    #   uses: JamesIves/github-pages-deploy-action@v4
    #   with:
    #     folder: build